<!DOCTYPE html>
<html>
  <head>
    <title>Katrina's Quizster App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <h1>Katrina's Quizster App</h1>
    </ul>

    <br/>

    <ul>
      <h2>Here is a beautiful photo</h2>
    </ul>

    <%= yield %>
  </body>
</html>
