<!DOCTYPE html>
<html>
  <head>
    <title>Katrina's Quizster App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='background'>
      <h1>Katrina's Quizster App</h1>
    </div>

    <br/>

    <div>
      

      <div>
        <div class='transparentbox'>
      </div>
      <div class="textoverlay">
        <h2> </h2>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
