<!DOCTYPE html>
<html>
  <head>
    <title>Katrina's Quizster App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" >Katrina's Song Finder App</a>
      <%= link_to 'Find a New Song', root_path, class: 'nav-link' %>
      <%= link_to 'Add a New Song', new_song_path, class: 'nav-link' %>
    </nav>
    </div>
      
    <%= yield %>
  </body>
</html>